/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #104722;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Form Styles */
form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

form div {
  margin-bottom: 15px;
  text-align: left;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

form input[type="file"] {
  padding: 0;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #0056b3;
}

/* Resume Preview Styles */
#resumePreview {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px auto;
  object-fit: cover;
}

.resumeContent h2,
.resumeContent h3 {
  margin-top: 0;
  color: #333;
}

.resumeContent p {
  margin: 5px 0;
}

.resumeContent hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

/* Shareable Link Section Styles */
#shareableLinkSection {
  max-width: 800px;
  margin: 20px auto;
}

#shareableLink {
  font-size: 16px;
  margin-bottom: 10px;
}

#shareableLink a {
  color: #007bff;
  text-decoration: none;
}

#shareableLink a:hover {
  text-decoration: underline;
}

button {
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
